#gameTournamnet {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 50px;
	background: transparent;
}

p {
	margin: 0px;
	padding: 0px;
}
.round {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.bracket {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	width: 200px;
	background-color: #a2a2a26a;
	border: 1px solid #333;
	border-radius: 8px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	margin: 5px;
}
.bracket h3 {
	font-size: 16px;
	font-weight: bold;
	color:#7d987b;
}

.bracket .player {
	text-align: center;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.672);
}

.bracket::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -15px;
	width: 30px;
	height: 2px;
	background-color: black;
}

.final-bracket .bracket::after {
	display: none;
}

.final-bracket .bracket {
	background-color: #a2a2a26a;
	font-weight: bold;
}

#winnerDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #1a1a1a; /* Dark background to suit the gaming theme */
    color: #00ffcc; /* Neon-like color to stand out */
    font-size: 40px; /* Larger and more impactful font size */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 15px; /* Smooth, rounded corners */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Deep shadow for text */
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.7), 0 0 40px rgba(0, 255, 204, 0.7); /* Glowing neon effect */
    animation: winnerAnimation 1.5s infinite alternate ease-in-out;
    text-align: center; 
    /* max-width: auto; Ensure the box doesn't stretch too wide */
    margin-left: auto; /* Centering the box */
    margin-right: auto; /* Centering the box */
}

/* Winner Animation */
@keyframes winnerAnimation {
    0% {
        transform: scale(1);
        background-color: #1a1a1a; /* Dark background */
        box-shadow: 0 0 20px #7cc576, 0 0 40px #7cc576; /* Neon glow */
    }
    100% {
        transform: scale(1.1);
        background-color: #333333; /* Slightly lighter color on hover */
        box-shadow: 0 0 30px #7cc576, 0 0 60px #7cc576; /* Stronger glow */
    }
}

#winnerDisplay h1 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: rgba(255, 255, 255, 0.501);
}

